<strong>Exercise 1: Create a Jupyter Notebook</strong>

<h2><strong>Name:</strong> Peer Graded Assignment Submitting</h2>

<strong>Exercise 2 - Create a markdown cell with the title of the notebook.</strong>

<h1>Data Science Tools and Ecosystem</h1>

<strong>Exercise 3 - Create a markdown cell for an introduction. (1 pt)</strong>

<p>In this notebook, Data Science Tools and Ecosystem are summarized.<p>

<strong>Exercise 4 - Create a markdown cell to list data science languages. (3 pts)</strong>

Some of the popular languages that Data Scientists use are:
<ol>
    <li>Python.</li>
    <li>R.</li>
    <li>SQL.</li>
    <li>Java.</li>
    <li>Julia.</li>
    <li>Scala.</li>
    <li>C/C++.</li>
    <li>JavaScript.</li>
</ol>

<strong>Exercise 5 - Create a markdown cell to list data science libraries. (3 pts)</strong>

Some of the commonly used libraries used by Data Scientists include:
<ol>
    <li>TensorFlow.</li>
    <li>NumPy.</li>
    <li>SciPy.</li>
    <li>Pandas.</li>
    <li>Matplotlib.</li>
    <li>Keras.</li>
    <li>SciKit-Learn.</li>
    <li>PyTorch.</li>
    <li>Scrapy.</li>
    <li>BeautifulSoup.</li>
    <li>LightGBM.</li>
    <li>ELI5.</li>
    <li>Theano.</li>
    <li>NuPIC.</li>
    <li>Ramp.</li>
    <li>Pipenv.</li>
    <li>Bob.</li>
    <li>PyBrain.</li>
    <li>Caffe2.</li>
    <li>Chainer.</li>
</ol>

<strong>Exercise 6 - Create a markdown cell with a table of Data Science tools. (3 pts)</strong>

Data Science Tools:

<table style="width:100%">
  <tr>
    <th>Data Science Tools</th>
    <th></th> 
    <th></th>   
  </tr>
  <tr>
    <td>Anaconda</td>
    <td></td>  
    <td></td>    
  </tr>
  <tr>
    <td>R Studio</td>
    <td></td>
    <td></td>    
  </tr>
  <tr>
    <td>Spyder</td>
    <td></td> 
    <td></td>    
  </tr>
  <tr>
    <td>Zeppelin</td>
    <td></td>  
    <td></td>   
  </tr>
</table>

<strong>Exercise 7 - Create a markdown cell introducing arithmetic expression examples. (1 pt)</strong>

Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# Arithmetic operations
code = compile("5 + 4", "<string>", "eval")
eval(code)
# Result: 9

9

In [5]:
code1 = compile("(5 + 7) * 2", "<string>", "eval")
eval(code1)
# Result: 24

24

In [6]:
import math
# Volume of a sphere
code2 = compile("4 / 3 * math.pi * math.pow(25, 3)", "<string>", "eval")
eval(code2)
# Result: 65449.84694978735

65449.84694978735

<strong>Exercise 8 - Create a code cell to multiply and add numbers.(2 pts)</strong>

This a simple arithmetic expression to mutiply then add integers

In [7]:
(3*4)+5
# Result: 17

17

<strong>Exercise 9 - Create a code cell to convert minutes to hours. (2 pts)</strong>

This will convert 200 minutes to hours by diving by 60

In [11]:
# time in minutes
time_in_minutes = 200
# compute hours from minutes
hours = time_in_minutes / 60
print(hours, "hours")
# Result: 3.3333333333333335 hours

3.3333333333333335 hours

<strong>Exercise 10 -Insert a markdown cell to list Objectives.</strong>

In this notebook, Data Science Tools and Ecosystem are summarized.

<strong>Objectives</strong>
<ul>
    <li>List popular languages for Data Science</li>
    <li>List common used libraries used by Data Scientists</li>
    <li>Tabulate data science tools</li>
    <li>Evaluate arithmetic expressions</li>
</ul>

<strong>Exercise 11 - Create a markdown cell to indicate the Authorâ€™s name.</strong>

<h2>Author(s):</h2> Sreshtant Bohidar